@import "../../../styles/variables.scss";

.Word{
    display: grid;
    grid-template-columns: repeat(3, 1fr) 2fr;
    align-items: center;

    width: 100%;
    height: 5.5vh;
    border: 1px solid $border-color;

    &__active{
        background-color: rgb(243, 220, 223);
    }

    &__property {
        display: flex;
        align-items: center;

        height: 100%;
        margin-left: 5%;
        border-right: 1px solid $border-color;

        input {
            width: 90%;
            height: 60%;
            border: 1px solid $border-color;
            padding-left: 3%;

            font-family: $default-font;
            font-size: calc(( 100vw ) / 128);

            outline: none;
        }
    }

    &__options{
        position: relative;
        display: grid;
        align-items: center;
        grid-template-columns: 65% repeat(3, 1fr);
        grid-template-areas: "n c e d";
    
        height: 100%;
        padding-right: 5%;
    }
}
