@import "../../../styles/variables.scss";

.Word{
    display: grid;
    grid-template-columns: repeat(3, 1fr) 2fr;
    align-items: center;

    width: 100%;
    height: 5.5vh;
    max-height: 5.5vh;
    border: 1px solid $border-color;
    transition: max-height 0.4s;

    &__active{
        background-color: rgb(243, 220, 223);
    }

    &__property {
        display: flex;
        align-items: center;

        height: 100%;
        margin-left: 5%;
        border-right: 1px solid $border-color;

        input {
            width: 90%;
            height: 60%;
            border: 1px solid $border-color;
            padding-left: 3%;

            font-family: $default-font;
            font-size: calc(( 100vw ) / 128);

            outline: none;
            transition: box-shadow 0.5s;
        }
    }

    &__options{
        position: relative;
        display: grid;
        align-items: center;
        grid-template-columns: 65% repeat(3, 1fr);
        grid-template-areas: "n c e d";
    
        height: 100%;
        padding-right: 5%;
    }

    &__warning{
        margin-top: -7px;
        max-height: 0px;

        opacity: 0;
        transition: margin-top 0.3s;
    }
    
    &__hidden{
        max-height: 0;
        margin-top: -2px;
        opacity: 0;
        transition: 0.4s;
    }
}

.incorrect{
    box-shadow: 0px 0px 3px 2px rgba(251, 52, 22, 0.86);
    transition: box-shadow 0.5s;
}

.mistake {
    margin-bottom: 7px;
}

.Word__warning_showed{
    margin-top: 0;
    padding: 7px 2px 0.2px 7px;
    width: 100%;
    max-height: max-content;

    line-height: 150%;

    background-color: rgba(243, 197, 154, 0.164);
    box-shadow: 1px 6px 8px 1px rgba(34, 60, 80, 0.38);
    opacity: 1;
    transition: margin-top 0.3s;
}
