@import "../../../styles/variables.scss";

.ButtonTrain{
    position: absolute;
    top: 10%;
    right: -33%;

    height: 25%;

    opacity: 0.3;
    cursor: pointer;
    transition-duration: 0.3s;
}

.ButtonTrain:hover{
    transition-duration: 0.3s;
    opacity: 1;
}

.ButtonTrain:active{
    height: 26%;
    
    transition-duration: 0.3s;
}