@import "../../../styles/variables.scss";

.ButtonTrain{
    position: absolute;
    top: 10%;
    right: -33%;

    height: 25%;

    opacity: 0.3;
    cursor: pointer;
    transition: opacity 0.3s;
}

.ButtonTrain:hover{
    opacity: 1;
    transition: opacity 0.3s;
}

.ButtonTrain:active{
    transform: scale(1.1);
    
    transition: transform 0.3s;
}