@import "../../../styles/variables.scss";

.SetOfWords{
    position: relative;

    width: 24%;
    height: 20vh;
    margin-bottom: 3vh;

    border-radius: 20px;

    cursor: pointer;
    box-shadow: 2px 4px 8px 0px rgba(34, 60, 80, 0.2);

    img{
        width: 100%;

        border-radius: 20px;
    } 

    h3 {
        position: absolute;
        bottom: 0;

        width: 100%;
        height: 33%;
        padding: 5% 0 0 5%;

        background-color: rgb(255, 255, 255);
        border-radius: 0 0 20px 20px;

        font-size: $title-h3-font-size;
    }
}