@import "../../../styles/variables.scss";

.WordCard{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;

    img{
        width: 35%;
    
        transform: rotate(90deg);
    }
}

.word {
    position: absolute;
    top: 45%;

    font-size: calc(( 100vw + 1280px ) / 64);
}

.word-translate{
    display: none;
    position: absolute;
    bottom: 25%;

    font-size: calc(( 100vw - 142px) / 71);
    font-weight: 500;
    color: rgb(105, 105, 105);
}

.display{
    display: block;
}