@import "../../../styles/variables.scss";

.WordCard{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 67vh;
    height: 48vh;

    img{
        height: 100%;
        padding: 5%;
    }
}

.word {
    position: absolute;
    top: 43%;

    font-family: $logo-font;
    font-size: calc(( 100vw + 1280px ) / 67);
}

.word-translate{
    position: absolute;
    bottom: 22%;

    font-size: calc(( 100vw - 142px) / 71);
    font-weight: 500;
    color: rgb(105, 105, 105);
}

.button-check {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 22%;

    height: 5%;
    width: 25%;
    border-radius: 10px;
    border: none;

    background-color: rgb(19, 165, 85);
    color: white;
    cursor: pointer;
    transition-duration: 0.4s;
}

.button-check:hover {
    width: 32%;
    transition: all ease 0.4s;
}
.button-check:focus {
    outline: none;
    background-color: rgb(18, 148, 77);
}

.translate-transition-enter {
    opacity: 0;
}
.translate-transition-enter-active {
    opacity: 1;
    transition: opacity 700ms;
}
.translate-transition-exit {
    opacity: 1;
}
.translate-transition-exit-active {
    opacity: 0;
    transition: opacity 700ms;
}

