@font-face {
	font-family: "ArchivoBlack";
	src: url(../../../fonts/ArchivoBlack-Regular.ttf);
}

$logo-font: "ArchivoBlack", sans-serif;

.TrainingMode{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 60vw;
    height: 80vh;
    margin: auto;

    font-family: $logo-font;
}

.Buttons{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    width: 70%;
    height: 10vh;
}