@import "./variables.scss";

.Button{
    width: 70%;
    margin-left: 2%;
    border: none;

    opacity: 0.9;
    cursor: pointer;
    outline: none;
    background-color: transparent;

    transition-duration: $default-transition-duration;
}

.Button:hover{
    opacity: 1;

    transition-duration: $default-transition-duration;
}

.Button:active{
    transform: scale(1.1);

    transition-duration: $default-transition-duration;
}