@font-face {
	font-family: "Montserrat";
	src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
	font-family: "ArchivoBlack";
	src: url(../fonts/ArchivoBlack-Regular.ttf);
}

$default-font: "Montserrat", sans-serif;
$logo-font: "ArchivoBlack", sans-serif;

$title-h3-font-size: calc(( 100vw + 640px ) / 128);
$default-font-size: calc(( 100vw + 256px) / 128);

$main-color: rgb(238, 130, 8);
$border-color: rgb(241, 241, 242);

$default-transition-duration: 0.1s;



