.Word{
    display: grid;
    grid-template-columns: repeat(3, 1fr) 3fr;
    align-items: center;

    width: 100%;
    height: 5.5vh;

    border: 1px solid RGB(241, 241, 242);

    div {
        margin-left: 5%;
        border-right: 1px solid RGB(241, 241, 242);
    }
}

.Word__options{
    position: relative;
    display: grid;
    align-items: center;
    grid-template-columns: 60% repeat(3, 1fr);
    grid-template-areas: "n s e d";

    height: 100%;
    padding-right: 5%;
}
