@import '../styles/variables.scss';

.Error{
    display: flex;
    justify-content: flex-start;

    width: 60vw;
    margin: 0;
    padding: 0;
    margin: auto;
    margin-top: 10vh;
    box-sizing: border-box;

    font-family: $default-font;

    &__img{
        width: 40%;
    }

    &__notification{
        display: flex;
        flex-direction: column;
        justify-content: center;

        margin-left: 15%;

        h1{
            margin: 5% 0 5% 0;
        }
    }
}