@import '../styles/variables.scss';

.Header-wrapper{
    position: sticky;
    top: 0;

    z-index: 10;

    background-color: rgb(255, 255, 255);
    
    border-bottom: 2px solid rgb(241, 241, 242);
}

.Header{
    display: grid;
    grid-template-columns: 40% 1fr 1fr 1fr;
    grid-template-areas: "logo nothing all-words train";
    align-items: center;

    width: 60vw;
    height: 10vh;
    margin: auto;
    padding: 10px;

    &__menu{
        display: flex;
        align-items: center;
        justify-content: flex-end;

        padding-right: 10%;

        font-family: $default-font;
        font-size: calc(( 100vw + 256px) / 128);
        font-weight: 900;
        text-transform: uppercase;
    }

    &__logo{
        display: flex;
        grid-area: logo;

        height: 100%;

        img {
            height: 7vh;
        }

        &-text-wrapper{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;

            padding-left: 10px;

            font-family: $logo-font;
            font-weight: 900;
            font-size: calc(( 100vw) / 128);

            div{
                font-family: $default-font;
                font-weight: 100;
            }

            span{
                color: $main-color;
            }
        }
    }

    li {
        list-style-type: none;

        cursor: pointer;
    }
}

.Header__link:hover{
    color: $main-color;
    transition: color 0.3s;
}

.Header__link:active{
    color: rgb(244, 182, 18);
    transition: color 0.3s;
}

.cards {
        grid-area: train;
    }
    
.words{
        grid-area: all-words;
    }

