@import '../styles/variables.scss';

.NotFoundPage{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 60vw;
    height: auto;
    margin: auto;
    padding: 0 10px 10px 10px;

    font-family: $default-font;
    font-size: calc(( 100vw + 1280px ) / 91);

    &__title{
        margin-top: 7vh;
    }

    &__img{
        margin-top: -3vw;

        height: 30vw;
    }
}

.NotFoundPage__Link{
    margin-left: 10px;

    text-decoration: underline;
    color: black;
    transition: color 0.3s;
}

.NotFoundPage__Link:hover{
    color: $main-color;
    transition: color 0.3s;
}

.NotFoundPage__Link:active{
    color: rgb(244, 182, 18);
    transition: color 0.3s;
}