{
    "extends": [
        "react-app",
        "react-app/jest"
    ],
    "rules": {
        "no-unused-vars": "warn",
        "no-console": "warn",
        "quotes": ["error", "single"],
        "jsx-quotes": ["error", "prefer-double"],
        "prefer-const": "error",
        "indent": ["warn", 4],
        "max-len": ["warn", {"code": 120}],
        "semi": ["warn", "always"],
        "import/order": ["warn", {
            "groups": ["builtin", "external", "internal", "unknown", "parent", "sibling", "index", "object", "type"],
            "newlines-between": "always-and-inside-groups"
        }]
    }
}